.panda-bg-info {
  background-color: #fceae8;
}
.catagory img {
  width: 100px;
}
.panda-btn-buy-now {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}
.carousel-inner img {
  margin-top: 30px;
}
